<!-- Home -->
<li class=" nav-item">
  <a id="" class=" nav-link @@if(category=='home'){active}" href="index.html" role="button" aria-expanded="false">Home</a>

</li>
<!-- End Home -->


<!-- Home -->
<li class=" nav-item">
  <a id="" class=" nav-link @@if(category=='about-us'){active}" href="about-us.html" role="button" aria-expanded="false">About Us</a>

</li>
<!-- End Home -->

<!-- Company -->
<li class="hs-has-sub-menu nav-item">
  <a id="productMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='product'){active}"
    href="#" role="button" aria-expanded="false">Products</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item " href="dry-products.html">
      <i class="bi bi-box-seam-fill me-2" style="color: rgb(240, 87, 56);;"></i>
      <span>Dry Products</span>
    </a>
    <a class="dropdown-item " href="frozen-products.html">
      <!-- <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/> -->
      <i class="bi bi-snow me-2" style="color: rgb(63, 234, 234);"></i>
      <span>Frozen Products</span>
    </a>

  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Company -->

<div id='google_translate_element'></div>
<!-- Company -->
<li class="hs-has-sub-menu nav-item">
  <a id="" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#"
    role="button" aria-expanded="false">Languages</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
    <a class="lng dropdown-item @@if(link=='page-about.html'){active}" id="enTranslator" href="javascript:void(0)">
      <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg"
        alt="Image description" width="16" />
      <span>English (US)</span>
    </a>
    <a class="lng dropdown-item @@if(link=='page-services.html'){active}" id="cnTranslator" href="javascript:void(0)">
      <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/cn.svg"
        alt="Image description" width="16" />
      <span>中文 (简体)</span>
    </a>

  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Company -->


<!-- Pages -->
<li class=" nav-item">
  <a id="" class=" nav-link  @@if(category=='pages'){active}" href="#" role="button" aria-expanded="false">Contact
    Us</a>
</li>
<!-- End Pages -->

